root = true

[*]
charset = utf-8
[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# CS9124: Parameter is captured into the state of the enclosing type and its value is also used to initialize a field, property, or event.
dotnet_diagnostic.CS9124.severity = none

# IDE0025: Use expression body for property
dotnet_diagnostic.IDE0025.severity = none

# IDE0251: Make member 'readonly'
dotnet_diagnostic.IDE0251.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0220: Add explicit cast
dotnet_diagnostic.IDE0220.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none
